.Home{
    display:flex; 
    text-align: center;
    min-height: 100%;
    flex-direction:column;
    justify-content: start;
    max-width: 1300px; 
    background-color: #F5F5F5;
}

.DisplayImage{
    min-width: 100%; 
    max-width:100%;
    object-fit:cover;
    height:auto;
    max-height:30%;
    min-height:25%;
}

.Heading{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:25px;
    color:#ffffff;
}

.Items{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top:30px;
}

.EmailInput{
    margin-right: 10px;
    padding-right:10px;
    width:400px;
}

.submitButton{
    margin-left: 10px;
    padding-left: 10px;
}

.locations{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 50px;
    padding-left: 10px;
}

.dates{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.emailSubmit{
    display:flex; 
    flex-direction: row;
    justify-content: center; 
    margin:10px;
}

@media (max-width: 6700px) {
    .Items{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-top:30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .locations{
        display:flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
    }
    
    .dates{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .emailSubmit{
        display:flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding-left: 10px;
        padding-right: 10px;
    }   
   
  }